.grid{}

.dino{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: red;
    bottom: 0px;
    transition: all 0.1s ease;
}

.obstacle {
    width: 60px;
    height: 60px;
    background-color: orange;
    position: absolute;
    bottom: 0px;
}